#BIGSQLDB=TESTMONI

BIGSQLDB=bigsql
#BIGUSER=bigsql
#BIGPASSWORD=bigsql

DICTTXT=dict.txt

#DICTABLE=HEALTHCK.dictable
#TTABLE=HEALTHCK.ttable
#VTABLE=HEALTHCK.vtable
#VVIEW=HEALTHCK.vmetrics
#MODULE=HEALTHCK.moni
#VSUMVIEW=HEALTHCK.vsummetrics


DICTABLE=MONIT.dictable
TTABLE=MONIT.ttable
VTABLE=MONIT.vtable
VVIEW=MONIT.vmetrics
MODULE=MONIT.moni
VSUMVIEW=MONIT.vsummetrics

FROMAVG="2018-08-07"
TOAVG="2018-08-09"
LIMIT=5
TRESH=3
#TRESH=9999

#DICTABLE=mon.dictable
#TTABLE=mon.ttable
#VTABLE=mon.vtable
#VVIEW=mon.vmetrics
#MODULE=mon.moni
