#BIGSQLDB=TESTMONI

BIGSQLDB=bigsql
#BIGUSER=bigsql
#BIGPASSWORD=bigsql

DICTTXT=dict.txt

DICTABLE=MONIT.dictable
TTABLE=MONIT.ttable
VTABLE=MONIT.mtable
VVIEW=MONIT.vmetrics
MODULE=MONIT.moni
VSUMVIEW=MONIT.vsummetrics

FROMAVG="2018-08-07"
TOAVG="2018-08-09"
LIMIT=5
TRESH=3
#TRESH=9999

